/* Font importing */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reseting css rules */
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}

:root{
    --orange: #f78b00;
    --blue: #00285f;
    --gray: #ededed;
}

html,
body{
    width: 100%;
    overflow-x: hidden;
}

header{
    width: 100%;
    height:500px;
    background:var(--orange)

}